#modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);

    .produtos-modal {
        position: absolute;
        width: 900px;
        height: 500px;
        display: flex;
        align-items: center;
        box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.3);

        img {
            height: 100%;
            width: 50%;
            background-color: transparent !important;
        }

        .conteudo {
            width: 100%;
            height: 100%;
            color: white;
            background-color: #2E2E2E;

            p {
                font-family: serif;
                font-size: 1.2em;
                padding: 10px 5px 0px 10px;
                margin-bottom: 10px;
            }

            h1 {
                font-family: serif;
                font-size: 1.6em;
                padding-left: 10px;
                text-align: left;
            }

            .preco {
                display: flex;
                padding-inline: 20px;
                align-items: center;
                justify-content: start;
                gap: 40px;

                h3 {
                    font-size: 2em;
                    font-family: serif;
                    margin: 0;
                }

                .saiba-mais {
                    font-family: serif;
                    border: 1px solid white;
                    background-color: transparent;
                    padding: 4px 10px;
                    height: 30px;
                    color: white;
                    font-size: 1.2em;
                    line-height: 15px;
                }
            }

        }

    }

}

@media screen and (max-width: 1000px){
    #modal {
        .produtos-modal {
            width: 90%;

            img{
                height: 90%;
            }

            .conteudo {
                h1 {
                    font-size: 1.4em;
                    margin: 0;
                }

                p{
                    font-size: 1.1em;
                }

                .preco {
                    h3 {
                        font-size: 1.7em;
                    }
                }
    
            }
    
        }
    
    }
}
@media screen and (max-width: 750px){
    #modal {
        .produtos-modal {
            img{
                height: 75%;
            }

            .conteudo {
                h1 {
                    font-size: 1.2em;
                    margin: 0;
                }

                p{
                    font-size: 1em;
                }

                .preco {
                    h3 {
                        font-size: 1.5em;
                    }

                    .saiba-mais{
                        height: 25px;
                        font-size: 1.1em;
                    }
                }
    
            }
    
        }
    
    }
}

@media screen and (max-width: 600px){
    #modal {
        .produtos-modal {
            flex-direction: column;
            height: auto;

            .conteudo {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                p {
                    text-align: center;
                }
    
                h1 {
                    text-align: center;
                }
    
                .preco {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    margin-bottom: 10px;
                    flex-direction: column;

                    h3 {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px){
    #modal {
        .produtos-modal {
            .conteudo {
                h1 {
                    font-size: 1.1em;
                    margin-top: 5px;
                }

                .preco {
                    h3 {
                        font-size: 1.3em;
                    }

                    .saiba-mais{
                        font-size: 1em;
                    }
                }
            }
        }
    }
}