#home-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F8E0E6;

    .typewriter {
        margin: 50px auto;
    }

    .linhas-profissionais {
        display: flex;
        justify-content: space-around;
        row-gap: 70px;
        column-gap: 40px;
        margin: 100px 0px 100px 0px;
        width: 90%;
        flex-wrap: wrap;
    }

    .como-chegar {
        margin: 80px auto 50px auto;
        width: 800px;

        h1 {
            text-align: center;
            font-family: serif;
            font-weight: 100;
            font-size: 2.5em;
            margin: 0px 0px 30px 0px;
        }

        iframe {
            width: 100%;
        }

    }

    .imagens-loja {
        display: flex;
        gap: 30px;
        padding-bottom: 50px;
        justify-content: center;
    }

}

@media screen and (max-width: 500px) {

    #home-screen {

        .linhas-profissionais {
            margin: 50px 0px 70px 0px;
        }
    }
}

@media screen and (max-width: 870px) {
    #home-screen {
        .como-chegar {
            width: 85%;
            height: 500px;
    
            iframe {
                height: 85%;
            }
    
            h1 {
                height: 15%;
                margin: 0px;
            }
        }

        .imagens-loja {
            img{
                width: 45%;
            }
        }
    }
}

@media screen and (max-width: 670px) {
    #home-screen{
        .como-chegar {
            width: 85%;
            height: 380px;
    
            h1 {
                font-size: 2.1em;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    #home-screen{
        .como-chegar {
            width: 90%;
            height: 300px;
    
            iframe {
                margin-top: 10px;
                height: 80%;
            }
    
            h1 {
                font-size: 1.7em;
                text-align: center;
            }
        }

        .imagens-loja {
            display: none;
        }
    }
}

@media screen and (max-width: 410px) {
    #home-screen{
        .como-chegar {
            width: 90%;
            height: 250px;
            margin: 60px auto 30px auto;
    
            h1 {
                font-size: 1.5em;
            }
        }
    }
}