#linha-profissional-card {

    .linha-profissional {
        width: 350px;
        height: 380px;

        h1 {
            font-family: serif;
            margin: 0px 0px 25px 0px;
            height: 55px;
            font-size: 22px;
            max-width: 80%;
        }

        div {
            position: relative;
            width: 350px;
            height: 280px;

            .link {
                text-decoration: none;
                border: 1px solid gray;
                background-color: transparent;
                font-size: 1.2em;
                position: absolute;
                bottom: 0;
                left: 10px;
                border-radius: 5px;
                padding: 5px;
                color: black;

                &:hover {
                 cursor: pointer;   
                 transform: scale(1.1);
                 transition: .7s;
                }

            }

            .img-1 {
                position: absolute;
                z-index: 1;
                width: 130px;
                height: 110px;
                bottom: 50px;
                left: 100px;
                border-radius: 10px;
            }

            .img-2 {
                position: absolute;
                z-index: 0;
                right: 0;
                width: 180px;
                height: 280px;
                border-radius: 10px;
            }

        }

    }

}

@media screen and (max-width: 370px) {

    #linha-profissional-card{
        width: 100%;
        display: flex;
        justify-content: center;

        .linha-profissional{
            width: 95%;

            div {
                width: 100%;

                .img-1 {
                    width: 110px;
                    height: 100px;
                }
    
                .img-2 {
                    width: 140px;
                    height: 270px;
                }

            }

        }

    }

}