#marcas {
    margin: 40px auto;
    padding: 10px;
    width: 1300px;

    .logo-marcas {
        display: flex;
        justify-content: space-around;
        width: 1050px;
        height: auto;
        flex-wrap: wrap;
        row-gap: 20px;
        margin: 0px auto;

        div {
            border: 0px solid black;
            width: 190px;
            height: 150px;

            img {
                width: 100%;
                height: 100%;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1290px) {
    #marcas {
        width: 90vw;

        .logo-marcas {
            width: 100%;
        }

        div {
            width: 18%;
            height: 190px;
        }

    }
}

@media screen and (max-width: 1050px) {
    #marcas {
        margin: 30px auto;
    }

    .logo-marcas div {
        width: 18%;
        height: 150px;
    }
}

@media screen and (max-width: 850px) {
    .logo-marcas div {
        width: 23%;
        height: 110px;
    }
}

@media screen and (max-width: 650px) {
    .logo-marcas {
        justify-content: space-around;

        div {
            width: 28%;
            height: 80px;
        }
    }
}

@media screen and (max-width: 490px) {
    #marcas {
        width: 100%;
    }

    #marcas .logo-marcas {
        justify-content: center;
        column-gap: 25px;

        div {
            width: 45%;
            height: 100px;
        }
    }
}

@media screen and (max-width: 350px) {
    .logo-marcas div {
        height: 90px;
    }
}