#carrinho-screen {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5%;
    row-gap: 30px;
    box-sizing: border-box;
    font-family: sans-serif;

    .title-carrinho-screen {
        text-align: center;
        font-size: 2.5em;
    }

    .itens-carrinho {
        background-color: black;
        min-height: 250px;
        max-height: 480px;
        overflow: auto;
        padding: 30px;
        width: 67%;
        display: flex;
        gap: 20px;
        flex-direction: column;

        h2 {
            color: white;
        }

        .sem-produtos {
            color: white;
            font-size: 0.9em;
            text-align: center;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .total-carrinho {
        color: white;
        width: 300px;
        height: 250px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .valor {
            background-color: black;
            height: 180px;
            padding: 20px 30px;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: flex-start;
            gap: 15px;

            h2 {
                width: 100%;
                text-align: center;
            }

            span {
                font-size: 1.1em;
                text-align: left;
                width: 40%;
            }

            .hr {
                width: 100%;
                height: 2px;
                background-color: #daff01;
            }

        }

        .funcoes {
            display: flex;
            justify-content: space-between;

            button,
            .link {
                text-decoration: none;
                background-color: transparent;
                border: none;
                width: 45%;
                height: 30px;
                cursor: pointer;
                text-align: center;
                line-height: 30px;
                font-size: 0.8em;

                &:hover {
                    background-color: gray;
                    color: white;
                    border: none;
                    transition: 0.1s;
                }

            }

            :first-child {
                border: 1px solid #9353ff;
                color: #9353ff;
            }

            :last-child {
                color: white;
                background-color: #9353ff;
            }

        }

    }

}

@media screen and (max-width: 1171px) {
    #carrinho-screen {
        .title-carrinho-screen {
            order: 1;
        }

        .itens-carrinho {
            width: 100%;
            order: 3;
        }

        .total-carrinho{
            order: 2;
            width: 100%;
        }
    }
}

@media screen and (max-width: 870px) {
    #carrinho-screen {
        margin: 50px 0px;
        width: 100vw;

        .title-carrinho-screen {
            font-size: 2.3em;
        }

        .itens-carrinho {
            padding: 15px 0px 15px 15px;
            width: 95%;
        }

        .total-carrinho{
            width: 95%;
        }
    }
}

@media screen and (max-width: 730px) {
    #carrinho-screen {
        margin-top: 135px;
    }
}

@media screen and (max-width: 670px) {
    #carrinho-screen {
        .title-carrinho-screen {
            font-size: 1.8em;
        }

        .itens-carrinho{
            width: 90%;
            height: 600px;
        }

        .total-carrinho{
            width: 90%;
        }
    }
}

@media screen and (max-width: 370px) {
    #carrinho-screen {
        .itens-carrinho{
            padding: 15px 0px 15px 8px;
        }

        .total-carrinho{
            .valor{
                height: 300px;

                span{
                    font-size: 1em;
                }
            }
        }
    }
}
