#produtos {
    background-color: #F8E0E6;
    padding: 60px 30px;
    width: 100%;

    .input-pesquisa {
        width: 100%;
        margin: 0px auto;
        padding-inline: 30px;

        input {
            width: 350px;
            border-radius: 10px;
            border: 1px solid gray;
            padding: 10px;
        }

    }

    .container-produtos {
        width: 100%;
        margin: 0 auto;
        padding: 30px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .colecao-produtos-container {
            width: 1000px;
            margin: 30px auto;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            h1 {
                width: 100%;
                font-size: 2.5em;
                font-family: serif;
                font-weight: 400;
            }

            >div {
                width: 22%;
                min-height: 350px;
            }

        }
    }

}

@media screen and (max-width: 1100px) {
    #produtos {
        .container-produtos {
            .colecao-produtos-container {
                width: 100%;
                justify-content: space-between;

                >div {
                    width: 30%;
                }

            }
        }
    }
}
@media screen and (max-width: 800px) {
    #produtos {
        padding-inline: 0;
       
        .input-pesquisa {
            display: flex;
            justify-content: center;
        }

        .container-produtos {
            .colecao-produtos-container {
                gap: 10px;
                
                h1 {
                    margin-bottom: 20px;
                    text-align: center;
                    font-size: 2.3em;
                }

                >div {
                    width: 32%;
                }

            }
        }
    }
}

@media screen and (max-width: 730px) {
    #produtos {
        .input-pesquisa {
            margin: 100px auto 0px auto;
        }
    }    
}

@media screen and (max-width: 600px) {
    #produtos {
        padding-inline: 0;

        .input-pesquisa {
            margin-top: 80px;

            input {
                width: 280px;
                border-radius: 10px;
                border: 1px solid gray;
                padding: 5px;
            }
        }

        .container-produtos {
            .colecao-produtos-container {
                row-gap: 15px;
                column-gap: 0px;

                h1 {
                    font-size: 2em;
                }

                >div {
                    width: 48%;
                }

            }
        }
    }
}

@media screen and (max-width: 450px) {
    #produtos {

        .input-pesquisa {
            input {
                width: 250px;
                border-radius: 10px;
                border: 1px solid gray;
                padding: 5px;
            }
        }

        .container-produtos{
            padding: 10px;

            .colecao-produtos-container{
                gap: 5px;

                h1 {
                    font-size: 1.8em;
                }

                >div{
                    width: 49%;
                    min-height: 250px;
                }
            }
        }
    }    
}