#painel-adm-screen {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 40px;
    font-family: sans-serif;

    .container-forms {
        width: 65%;
    }

    .form-edicao {
        padding: 10px 20px;

        .titulo-opcoes {
            display: flex;
            flex-wrap: wrap;
            column-gap: 10px;
            row-gap: 5px;
            align-items: center;
            cursor: pointer;

            h2 {
                padding: 10px 20px;
                border-radius: 8px;
                font-size: 24px;
                font-weight: 500;
                cursor: pointer;
                background-color: transparent;
                border: 2px solid transparent;
                transition: all 0.3s ease;
                margin-right: 10px;
                color: #333;
                border: 2px solid #ccc;

                /* &:hover {
                        background-color: #f0f0f0;
                    } */
            }

            .active {
                background-color: #2ecc71;
                color: white;
                border-color: #27ae60;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            }
            
            button {
                background-color: #FF6347;
                width: 100px;
                padding: 10px;
                border: 1px solid #d4d4d4;
                border-radius: 8px;
                font-size: 14px;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }

    .form-card {
        background: #f9f9ff;
        padding: 10px 20px;
        border-radius: 12px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);

        input:disabled {
            background-color: #f0f0f0;
            color: #888;
            border: 1px solid #ccc;
            cursor: not-allowed;
        }
    }

    .preview-card {
        width: 35%;
        background: #f9f9ff;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    }

    .form-group {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .form-group label {
        font-weight: 600;
        margin-bottom: 5px;
    }

    .form-group input,
    .form-group textarea,
    .form-group select {
        padding: 10px;
        border: 1px solid #d4d4d4;
        border-radius: 8px;
        font-size: 14px;
    }

    textarea {
        resize: vertical;
        height: 80px;
    }

    .form-row {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .image-preview {
        border: 2px dashed #d1d5db;
        border-radius: 12px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-preview img {
        width: 100%;
        height: auto;
        border-radius: 6px;
    }

    .upload-section {
        display: flex;
        align-items: center;
        gap: 15px;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
        }
    }

    .upload-button {
        background: white;
        color: black;
        border: 1.5px solid #000;
        padding: 10px 16px;
        border-radius: 8px;
        cursor: pointer;
        font-weight: 500;
        display: inline-block;
    }

    .image-status {
        color: green;
        font-weight: 500;
    }

    .submit-button {
        width: 100%;
        padding: 12px;
        margin-top: 20px;
        background: linear-gradient(to right, #3b82f6, #8b5cf6);
        color: white;
        font-weight: bold;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .submit-button:hover {
        opacity: 0.9;
    }

    .msg-error {
        color: red;
        padding-block: 3px;
    }

    @media screen and (max-width: 870px) {
        flex-direction: column;

        .container-forms {
            width: 100%;
        }

        .form-card {
            width: 100%;

            .titulo-opcoes {
                h2 {
                    font-size: 18px;
                }
            }
        }

        .preview-card {
            width: 100%;
        }
    }

    @media screen and (max-width: 400px) {
        flex-direction: column;

        .form-card {
            .titulo-opcoes {
                h2 {
                    font-size: 14px;
                    width: 100%;
                }
            }
        }

        .preview-card {
            width: 100%;
        }
    }

}