#produto {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 5px;
    width: 100%;
    height: 100%;

    .img-produto {
        width: 100%;
        height: 75%;
    }

    h4 {
        text-align: center;
        justify-content: center;
        font-size: 15px;
    }

    .quantidade {
        border: 1px solid gray;
        width: 40%;
        margin-block: 10px;
        display: flex;
        justify-content: center;
        column-gap: 10px;
        padding-block: 10px;

        span {
            display: flex;
            align-items: center;
            font-size: 25px;
        }

    }

    .icone {
        cursor: pointer;

        &:active {
            transform: scale(1.3);
        }
    }

}

#produto:has(.img-produto:hover) {
    transform: scale(1.2);
    transition: 1s;
    cursor: pointer;
}