html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Para garantir que o scroll horizontal seja desativado */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

